<div class="media">
  <div class="media-body">
    <small>
      <%= game.user.name %> created <%= time_ago_in_words(game.create_at) %> ago
      <% if user_is_authorized_for_game?(game) %>
        | <%= link_to "Delete", [@campaign, game], method: :delete %>
      <% end %>
    </small>
    <div class="media-body">
      <p><%= game.title %></p>
      <p><%= game.scoring %></p>
      <p><%= game.style %></p>
      <p><%= game.map %></p>
    </div>
  </div>
</div>
